<div class="point-title"><i class="fas fa-circle mr-3 text-app"></i>Hôm nay</div>
<div class="row">
  <div class="col">
    <app-dashboard-box [title]="'day la tilete na'">
      <ng-template #content>sajfklsdanfcjdskgbvkdsa</ng-template>
    </app-dashboard-box>
  </div>
  <div class="col">
    <app-dashboard-box [title]="'day la tilete na'">
      <ng-template #content>sajfklsdanfcjdskgbvkdsa</ng-template>
    </app-dashboard-box>
  </div>
  <div class="col">
    <app-dashboard-box [title]="'day la tilete na'">
      <ng-template #content>sajfklsdanfcjdskgbvkdsa</ng-template>
    </app-dashboard-box>
  </div>
  <div class="col">
  <app-dashboard-box [title]="'day la tilete na'">
    <ng-template #content>sajfklsdanfcjdskgbvkdsa</ng-template>
  </app-dashboard-box>
</div>
  <div class="col">
    <app-dashboard-box [title]="'day la tilete na'">
      <ng-template #content>sajfklsdanfcjdskgbvkdsa</ng-template>
    </app-dashboard-box>
  </div>
</div>

<div class="point-title mt-4"><i class="fas fa-circle mr-3 text-app"></i>Trong tháng này</div>
