.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--app-color);
  flex-flow: row wrap;
  height: var(--header-page-height);
  color: white;
  a{
    color: white;
    text-decoration: none;
  }
}

.brand-name{
  flex-grow: 1;
  img{
    cursor: pointer;
    max-width: 50px;
  }
}

.menu{
  flex-grow: 1;
  position: relative;
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
    ul{
      list-style: none;
    }
  }
  .material-icons{
    top: 6px;
    position: relative;
  }
}

.menu:hover .dropdown-content{
  display: block;
}

.search{
  flex-grow: 6;
  .form-search{
    width: 80%;
    position: relative;
  }
  button{
    background-color: blue;
    border: 2px solid blue;
    position: absolute;
    top: 0px;
    right: -10px;
    padding: 0px 8px 5px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .fa-search{
    position: relative;
    top: 1px;
    right: 5px;
  }
}

.account{
  flex-grow: 1;
  cursor: pointer;
  .material-icons{
    top: 6px;
    position: relative;
  }
}

.cart{
  flex-grow: 1;
  .material-icons{
    top: 6px;
    position: relative;
  }
}

