<div class="header">
  <div class="brand-name ml-5">
    <img src="assets/app-logo.png">
  </div>
  <div class="menu">
    Danh mục sản phẩm
    <span class="material-icons">
            keyboard_arrow_down
        </span>
    <div class="dropdown-content">
      <ul>
        <li>Hello world</li>
        <li>Hello world</li>
        <li>Hello world</li>
        <li>Hello world</li>
      </ul>
    </div>
  </div>
  <div class="search">
    <form action="#">
      <div class="form-search">
        <input type="input" class="form-control" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="account" (click)="gotoLogin()">
        <span class="material-icons">
            account_circle
        </span>
    <span class="ml-2"><a class="login">Đăng nhập / </a></span>
    <span><a class="login">Đăng kí</a></span>
  </div>
  <div class="cart">
    <a class="shopping_cart" role="button" href="#">
            <span class="material-icons">
                shopping_cart
            </span>
      Giỏ hàng
    </a>
  </div>
</div>
