<div class="container">
  <div class="text-app d-flex justify-content-center font-weight-bold ">
    <h2 class="mb-4">Thông tin sách mới</h2>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="w-100 user-detail d-flex flex-column">
        <div class="row align-items-center justify-content-center">
          <b class="col-2">Tên sách: </b>
          <div class="col-8">
              <mat-form-field class="w-100">
                <mat-label>Tên sách</mat-label>
                <input matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <b class="col-2">Nhà cung cấp: </b>
          <div class="col-8">
              <mat-form-field class="w-100">
                <mat-label>Nhà cung cấp:</mat-label>
                <input matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <b class="col-2">Thể loại: </b>
          <div class="col-8">
              <mat-form-field class="w-100">
                <mat-label>Thể loại</mat-label>
                <input matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <b class="col-2">Tên tác giả: </b>
          <div class="col-8">
              <mat-form-field class="w-100">
                <mat-label>Tên tác giả</mat-label>
                <input matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <b class="col-2">Giá vốn: </b>
          <div class="col-8">
              <mat-form-field class="w-100">
                <mat-label>Giá vốn</mat-label>
                <input matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <b class="col-2">Giá bán: </b>
          <div class="col-8">
              <mat-form-field class="w-100">
                <mat-label>Giá bán</mat-label>
                <input matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <b class="col-2">Số trang: </b>
          <div class="col-8">
              <mat-form-field class="w-100">
                <mat-label>Số trang</mat-label>
                <input matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <b class="col-2">Tóm tắt: </b>
          <div class="col-8">
              <mat-form-field class="w-100">
                <mat-label>Tóm tắt</mat-label>
                <input matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <b class="col-2">Ghi chú: </b>
          <div class="col-8">
              <mat-form-field class="w-100">
                <mat-label>Ghi chú</mat-label>
                <input matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="buttons d-flex flex-row-reverse mt-2 mr-5 pr-5">
          <div class="btn btn-app" (click)="onCreateUser()">Tạo mới</div>
          <div class="btn btn-outline-app"  (click)="onReset()">Lưu nháp</div>
          <app-mat-input></app-mat-input>
        </div>
      </div>
  </div>
</div>
